<h2>Add new Movie</h2>

<form action="/movies/create" method="POST">

  <label for="title" class="form-label">Title</label>
  <input type="text" name="title" class="form-control"/>
  <br />
  <label for="genre" class="form-label">Genre</label>
  <input type="text" name="genre" class="form-control"/>
  <br />
  <label for="plot" class="form-label">Plot</label>
  <input type="text" name="plot" class="form-control"/>
  <br />
  <label for="cast" class="form-label">Cast:</label>
  <select name="cast" class="form-select">
    {{#each allCelebrities}}
      <option value="{{this._id}}">{{this.name}}</option>
    {{/each}}
  </select>
  <br />
  <button class="btn btn-success">Add Movie</button>
</form>